- there is virtualenv library for normal python distributions
- Anaconda has a built-in virtual envrionment manager that makes the whole process really easy
- [check this link] (http://conda.pydata.org/docs/using/envs.html)

simply create using 
- conda create --name myEnv numpy
- activate myEnv
- deactivate myEnv

In [1]:
220-10

210

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

give an example of list comprehension and it's usual way of creating without using the list comprehension

In [3]:
List = []

for i in range(11):
    List.append(i**2)
print(List)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# using the list comprehension 
# it's a for loop but in reverse 

List2 = [x**2 for x in range(11)]
print(List2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
List3 = [x**2 for x in range(11) if x%3 ==0]
print(List3)

[0, 9, 36, 81]

In [12]:
# documentation string type the function name and use shift tab to know about functions
def fun1(num="default"):
    """
    This is a doc string 
    can go to multiple lines
    very useful thing
    """
    print("Hello "+num)

In [13]:
fun1  #asking to python about what it is

In [14]:
fun1()

Hello default

In [16]:
fun1("Jishan")

Hello Jishan

In [19]:
fun1()

Hello default

# map, filter,

In [26]:
#map
def times2(num):
    return num*2

In [27]:
c = [1,2,3,4]
map(times2,c)

In [28]:
list(map(times2,c))

[2, 4, 6, 8]

In [53]:
tuple(map(lambda x : x**3 if x>2 else -10, c))

(-10, -10, 27, 64)

## Lambda function

Since a lambda function must have a return value for every valid input, we cannot define it with if but without else as we are not specifying what will we return if the if-condition will be false i.e. its else part.

In [54]:
lambda x : x*2 if(x>0) else none

In [55]:
yondu = lambda x : x*2 if(x>0) else -99

In [56]:
yondu(30)

60

In [57]:
yondu(-12)

-99

Yield are used in Python generators. A generator function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a generator function.

In [58]:
def nextSquare():
	i = 1;

	# An Infinite loop to generate squares
	while True:
		yield i*i				
		i += 1 # Next execution resumes
				# from this point	

for num in nextSquare():
	if num > 100:
		break	
	print(num)

1
4
9
16
25
36
49
64
81
100

### Ternary operator in Python

In [59]:
a,b = 20,30
print(a)
print(b)
x = 10 if a > b else 11
x

20
30

11

In [60]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [62]:
list(filter(times2,c))

[1, 2, 3, 4]

In [65]:
list(filter(lambda x: x%2==0, c))  #this would filter the result accordingly
                            #so the function used in filter must return a boolean       value

[2, 4]

In [66]:
reduce(lambda x,y : x+y, c)

NameError: name 'reduce' is not defined

#### reduce() works differently than map() and filter(). It does not return a new list based on the function and iterable 've passed. Instead, it returns a single value.

### Also, in Python 3 reduce() isn't a built-in function anymore, and it can be found in the functools module.

In [68]:
from functools import reduce
sum = reduce(lambda x,y : x+y, c)
print(c)
print(sum)

[1, 2, 3, 4]
10

### Methods assocated with strings and all

In [72]:
s = 'hello my name is Sam'

In [73]:
s.isupper()

False

In [76]:
print(s.endswith('m'))
print(s.upper())

True
HELLO MY NAME IS SAM

In [79]:
s.split()  #split the string @ specified characte

['hello', 'my', 'name', 'is', 'Sam']

In [80]:
s.strip()   #removes whitespaces from the string

'hello my name is Sam'

In [81]:
s

'hello my name is Sam'

### tuple unpacking

In [1]:
d = [(1,2),(3,4),(5,6)]

In [2]:
d

[(1, 2), (3, 4), (5, 6)]

In [3]:
for item in d:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [4]:
for a,b in d:
    print(a,b)

1 2
3 4
5 6

In [6]:

# first and last will be assigned to x and z
# remaining will be assined to y
x, *y, z = (10, "Geeks ", " for ", "Geeks ", 50)

# print details
print(x)
print(y)
print(z)
print("-------------------------")
# first and second will be assigned to x and y
# remaining will be assined to z
x, y, *z = (10, "Geeks ", " for ", "Geeks ", 50)
print(x)
print(y)
print(z)

10
['Geeks ', ' for ', 'Geeks ']
50
-------------------------
10
Geeks
[' for ', 'Geeks ', 50]

In [9]:
def result(x, y):
	return x * y

print (result(10, 100))
print('------------------')

# A tuple is created
z = (10, 100)

# Tuple is passed
# function unpacked them

print (result(*z))
# print (result(z)) this would generate an error cz function is not informed to perform the tuple unpacking

1000
------------------
1000